<%= row do %>
  <%= databox("Sentiment Breakdown", :class => 'span6', :inner_style => 'padding:0;min-height:204px;') do %>
      <div id="sentiment-graph"></div>
    <% if @presenter.sentiments.blank? %>
      <p style="margin-top:80px;text-align:center;">
        There are no sentiment results.
        <small><a href="#" class="no-results" rel="tooltip" data-html="true" title="There is no sentiment data because there are no tweets matching this search." data-placement="right" data-trigger='click'>Why?</a></small>
      </p>
    <% end %>
  <% end %>
  <%= databox("Top Influencers", :class => 'span6', :inner_style => 'padding:0;min-height:204px;') do %>
    <% if @presenter.twitter_users.count > 0 %>
      <%#= render :partial => "dashboard/top_influencers" %>
      <div id="influencer-graph"></div>
    <% else %>
      <p style="margin-top:80px;text-align:center;">
        There are no influencer results.
        <small><a href="#" class="no-results" rel="tooltip" data-html="true" title="There are no influencers because no results were found for this search." data-placement="right" data-trigger='click'>Why?</a></small>
      </p>
    <% end %>
  <% end %>
<% end %>
<%= row do %>
  <%= databox("Outreach vs. Influence", :class => 'span6', :inner_style => 'padding:0;min-height:241px;') do %>
    <% if @presenter.twitter_users.count > 0 %>
      <%#= render :partial => "dashboard/outreach_vs_influence" %>
      <div id="influence-vs-outreach-graph"></div>
    <% else %>
      <p style="margin-top:80px;text-align:center;">
        There are no influencer results.
        <small><a href="#" class="no-results" rel="tooltip" data-html="true" title="There are no influencers because no results were found for this search." data-placement="right" data-trigger='click'>Why?</a></small>
      </p>
    <% end %>
  <% end %>
  <%= databox("Top Users", :class => 'span6', :inner_style => 'padding:0;min-height:204px;') do %>
    <% unless @presenter.twitter_users.count == 0 %>
      <%= render :partial => "dashboard/top_users" %>
    <% else %>
      <p style="margin-top:80px;text-align:center;">
        There are no user results.
        <small><a href="#" class="no-results" rel="tooltip" data-html="true" title="There are no users because no results were found for this search." data-placement="right" data-trigger='click'>Why?</a></small>
      </p>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});
// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

function drawChart() {
  var tweets = <%= @presenter.tweets.count %>
  var influencers = <%= @presenter.twitter_users.count %>
  var sentiments = <%= @presenter.sentiments.count %>
  
  if (sentiments > 0) {
    // Create the data table(s).
    var sentiment_chart_data = new google.visualization.DataTable();
    sentiment_chart_data.addColumn('string', 'Sentiment');
    sentiment_chart_data.addColumn('number', 'Number of Tweets');
    sentiment_chart_data.addRows([
      ['Positive', <%= @presenter.sentiment_tweet_count('pos') %>],
      ['Negative', <%= @presenter.sentiment_tweet_count('neg') %>],
      ['Neutral', <%= @presenter.sentiment_tweet_count('neutral') %>]
    ]);

    // Set chart options
    var sentiment_chart_options = {width:$('#sentiment-graph').width(),
                   fontName: 'Verdana',
                   backgroundColor: '#fcfcfc',
                   colors: ['#008000', '#ff0000', '#08c'],
                   legend: {position: 'right', alignment: 'center'},
                   pieSliceTextStyle: {color: 'white'},
                   is3D: false
                   };

    var sentiment_chart = new google.visualization.PieChart(document.getElementById('sentiment-graph'));
    sentiment_chart.draw(sentiment_chart_data, sentiment_chart_options);
  } else {
    
  }
  
  if (influencers > 0) {
    var top_influencers_data = google.visualization.arrayToDataTable([
     ['User', 'Influence'],
     <%= raw(@presenter.top_influencers * ",") %>
     ]);
     // Create and draw the visualization.
     new google.visualization.BarChart(document.getElementById('influencer-graph')).
         draw(top_influencers_data,
              {width:$('#influencer-graph').width(),
               legend: 'none',
               fontName: 'Verdana',
               backgroundColor: '#fcfcfc',
               tooltip: {textStyle:{fontSize:9}},
               vAxis: {title: 'User'},
               hAxis: {title: "Influence"}}
               );
  }
  
  if (influencers > 0) {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Influence');
    data.addColumn('number', 'Outreach');
    data.addColumn({type:'string', role:'tooltip'});
    data.addRows([
      <%= raw(@presenter.influence_vs_outreach * ",") %>
    ]);
    
    var influence_vs_outreach = data;
    
    // Create and draw the visualization.
    new google.visualization.ScatterChart(document.getElementById('influence-vs-outreach-graph')).
        draw(influence_vs_outreach,
             {width:$('#influence-vs-outreach-graph').width(),
              height: $('#influence-vs-outreach-graph').height(),
              legend: 'none',
              fontName: 'Verdana',
              backgroundColor: '#fcfcfc',
              tooltip: {textStyle:{fontSize:9}},
              vAxis: {title: 'Outreach'},
              hAxis: {title: "Influence"}}
        );
  }

}
</script>