<div class="page-header">
  <h4><i class="icon-cog"></i> Settings</h4>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><i class='icon-twitter'></i>Twitter</a></li>
    <li><a href="#tab2" data-toggle="tab"><i class='icon-search'></i>PeopleBrowsr</a></li>
    <li><a href="#tab3" data-toggle="tab"><i class='icon-user'></i>Account</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% if current_user && current_user.twitter_auth %>
        <div class="img-polaroid span5">
          <%= image_tag current_user.twitter_auth.profile_image_url, :class => "img-polaroid pull-left", :style => 'margin:8px 0 0 5px;'%>
          <div class="caption pull-right" style="width:300px;">
            <p style="padding-top:5px;font-size:1.1em;">
              <%= image_tag "https://twitter.com/images/resources/twitter-bird-light-bgs.png", :width => 30 %> Authorized as <%= link_to "@#{current_user.twitter_auth.username}", twitter_user_page(current_user.twitter_auth.username) %></p>
            <%= button_to "Deauthorize", authentication_path(current_user.twitter_auth), :method => :delete, :class => 'btn', :style => 'padding:5px 10px; border-radius:3px;' %>
          </div>
        </div>
      <% else %>
        <div class="img-polaroid span5">
          <%= image_tag "https://twitter.com/images/resources/twitter-bird-light-bgs.png", :width => 30, :class => "img-polaroid pull-left" %>
          <div class="caption pull-right" style="width:300px;">
            <p style="padding-top:5px;font-size:1.1em;">
              You have not authorized a Twitter account yet.</p>
            <%= link_to raw("<img src='https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png' />"), twitter_auth_path %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% @authentication = current_user.peoplebrowsr_auth.nil? ? Authentication.new : current_user.peoplebrowsr_auth %>
      <%= render :partial => 'authentications/form', :locals => {:authentication => @authentication}%>
    </div>
    <div class="tab-pane" id="tab3">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, :required => true, :autofocus => true %>
          <%= f.input :last_name, :required => true %>
          <%= f.input :email, :required => true %>
          <%= f.input :password, :autocomplete => "off", :hint => "Leave blank if not changing", :required => false %>
          <%= f.input :password_confirmation, :required => false %>
          <%= f.input :current_password, :hint => "Enter password to confirm changes", :required => true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", :class => 'btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      authentications_path, :class => 'btn' %>
        </div>
      <% end %>

      <p><%= link_to "Delete account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
    </div>
    
  </div>
</div>


