<%= simple_form_for(@term, :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="form-inputs">
  <%= f.input :type, :collection => ['KeywordTerm', 'HashtagTerm', 'UserTerm'], :required => true %>
  <%#= f.hidden_field :type, :value => "" %>
  <%= f.input :text, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "", :class => "add-on" %>
    <%= f.input_field :text, :required => true, :disabled => true %>
  <% end %>
  </div>
   <div class="form-actions">
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.add-on').hide();
    $('#term_type').change(function() {
      type = $(this).val();
      if (type == 'HashtagTerm') {
        $('.add-on').text('#');
        $('.add-on').show();
        $('#term_text').removeAttr("disabled");
      } else if (type == 'UserTerm') {
        $('.add-on').text('@');
        $('.add-on').show();
        $('#term_text').removeAttr("disabled");
      } else if (type == 'KeywordTerm') {
        $('.add-on').hide();
        $('#term_text').removeAttr("disabled");
      } else {
        $('.add-on').hide();
        $('#term_text').attr("disabled", true);
      }
    });
  })
</script>