<%= simple_form_for @authentication, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :token, :label => "Application ID" %>
  <%= f.input :secret, :label => "API Key" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                authentications_path, :class => 'btn' %>
  </div>
<% end %>
