<div class="well span7">
  <legend>Forgot your password?</legend>
  <div class="row-fluid span12">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :required => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reset Password", :class => 'btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>

  </div>

  <div class="span4 pull-right">
    <div class="row-fluid" style="margin-bottom:20px;">
      <div class="img-polaroid span10">
        <%= image_tag "http://2.bp.blogspot.com/-ByoqVwtwKnU/TyqgNLXF0hI/AAAAAAAAAM0/zHGDBMrU-ig/s1600/passing-notes.jpg" %>
      </div>
    </div>
    <div class="row-fluid" style="margin-bottom:20px;">
      <div class="img-polaroid span10">
        <%= image_tag "http://2.bp.blogspot.com/-ByoqVwtwKnU/TyqgNLXF0hI/AAAAAAAAAM0/zHGDBMrU-ig/s1600/passing-notes.jpg" %>
      </div>      
    </div>
    <div class="row-fluid" style="margin-bottom:20px;">
      <div class="img-polaroid span10">
        <%= image_tag "http://2.bp.blogspot.com/-ByoqVwtwKnU/TyqgNLXF0hI/AAAAAAAAAM0/zHGDBMrU-ig/s1600/passing-notes.jpg" %>
      </div>
    </div>
  </div>